@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap");

.container {
  width: 100%;
  margin-top: 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .inputcontainer {
    width: 90%;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    label {
      margin-top: 5px;
    }
    textarea {
      margin-top: 5px;
      margin: 4px;
      min-height: 50px;
      padding: 3px 3px;
      font-family: "Roboto", sans-serif;
      border: solid 1px #ccc;
      &:focus {
        border: solid 1px blue;
      }
    }
  }
}
.toopBar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 200;
  left: 0;
  background: rgb(102, 71, 212);
  color: #fff;
  h1 {
    margin: 3px 5px 0 20px;
  }
}

.btn {
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
  margin-right: 4px;
  margin-top: 10px;
  button {
    width: auto;
    padding: 5px;
    font-family: "Roboto", sans-serif;
    height: 40px;
    background: rgb(53, 53, 224);
    color: #fff;
    &:hover {
      color: #000;
      background: #ccc;
      transition: ease;
      border: none;
    }
  }
}

.lettersCount{
    width: 90%;
}